//! **************************************************************************
// Written by: Map P.20131013 on Thu Jun 30 21:26:38 2022
//! **************************************************************************

SCHEMATIC START;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

